<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/about.css">
    <!-- FUNETES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <title>F1 AVQ - Register</title>
</head>
<body>
    <div class="back" id="particles-js"></div>
    <div class="content">
        <div class="textcont">
            <h1 class="title">About</h1>
            <p>Hello, this is AVQF1 a website about Formula 1 made with the purpose of learning.</p>
            <div class="textline">
                <p>It is based on the data provided by</p>
                <a href="https://github.com/theOehrly/Fast-F1">Fast f1</a>
                <p>.</p>
            </div>
            <p>I am open to constructive criticism, ideas, etc...</p>
            <div class="textline">
                <p>You can contact me</p>
                <a href="mailto:alejandro.v.quintano@gmail.com?Subject=[[AVQF1]]%20Feedback">here</a>
                <p>.</p>
            </div>
            <div class="social">
                <a href="https://twitter.com/ale_v_q"><i class="fa-brands fa-twitter"></i></a>
                
            </div>
            <div class="return">
                <button type="submit" onclick="Redirect()">Back to Home</button>
            </div>
        </div>
    </div>

<script>
    function Redirect(){
        window.location.href = "/"
    }
</script>
<script src="/static/js/particles.js"></script>
<script src="/static/js/defParticles.js"></script>
<script src="https://kit.fontawesome.com/5ae205cf28.js" crossorigin="anonymous"></script>

</body>
</html>